# Configuration for STM32 boards with external JTAG dongle
# copied some from tcl/board/stm3220g_eval_stlink.cfg

# Setup Olimex dongle
source [find interface/ftdi/olimex-arm-usb-ocd-h.cfg]
source [find interface/ftdi/olimex-arm-jtag-swd.cfg]

# increase working area to 128KB
set WORKAREASIZE 0x20000
# chip name
set CHIPNAME STM32F4x9I
source [find target/stm32f4x.cfg]
