# Configuration for EFM32 boards with external JTAG dongle
# copy from tcl/board/efm32.cfg

# Setup ST-Link-v2 dongle
source [find interface/stlink-v2.cfg]
transport select hla_swd
adapter_khz 1000

set CHIPNAME efm32
source [find target/efm32.cfg]

# In case of flashed a firmware which goes to STANDBY
# immediately, then JTAG port will be disabled, causing
# openocd problems. But setting openocd to immediately
# set target in reset (dont execute any code) this
# bad state can be avoided.
reset_config trst_and_srst srst_nogate connect_deassert_srst
init
poll
flash probe 0
sleep 200
halt
reset_config trst_and_srst srst_nogate connect_assert_srst
