# This is an STM32F7 discovery board with a single STM32F756NGH6 chip.
# http://www.st.com/web/catalog/tools/FM116/SC959/SS1532/LN1848/PF261641

# This is for using the onboard STLINK/V2-1
source [find interface/stlink.cfg]
transport select hla_swd

# increase working area to 256KB
set WORKAREASIZE 0x40000

source [find target/stm32f7x.cfg]
adapter speed 1000

# In case of flashed a firmware which goes to STANDBY
# immediately, then JTAG port will be disabled, causing
# openocd problems. But setting openocd to immediately
# set target in reset (dont execute any code) this
# bad state can be avoided.
reset_config trst_and_srst srst_nogate connect_assert_srst
